h1 {
  font-size: 4rem;
  font-family: 'Raleway';
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
h2 {
  font-size: 2rem;
  font-family: 'Raleway';
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}
p {
  font-size: 1.6rem;
  font-family: 'Open Sans';
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: hsl(217, 28%, 15%);
}
.container-intro {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__logo {
  margin-left: 1rem;
}
.nav__links {
  margin-right: 1rem;
}
.nav__link {
  color: #969da7;
  font-size: 2rem;
  font-family: 'Open Sans';
  margin-right: 4rem;
  text-decoration: none;
}
.nav__link--3 {
  margin-right: 0;
}
.header {
  text-align: center;
}
.header__container {
  margin: 0 auto;
  width: 50%;
  line-height: 1.6;
}
.header__img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.header__heading-sub {
  color: #969da7;
}
.header__button {
  margin: 4rem 0;
  margin-bottom: 5rem;
  border: none;
  padding: 1.5rem 6rem;
  border-radius: 50px;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  font-weight: 700;
}
.header__button:hover {
  color: hsl(176, 68%, 64%);
  cursor: pointer;
  background: hsl(0, 0%, 100%);
}
.top-section {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}
.top-section-child {
  border: 1px solid white;
  width: 35%;
  align-self: stretch;
}
.top-section-img {
  margin-top: 2rem;
}
.top-section-p {
  font-color: hsl(0, 0%, 100%);
}
