.top-section {
    .border;
    .flex(row, center, center);
    text-align: center;
    flex-wrap: wrap;
    
    &-child {
        .border;
        width: 35%;
        align-self: stretch;

    }
    &-img {
        margin-top: 2rem;
    }
    &-h4 {

    }
    &-p {
        font-color: @white;
    }
}