.mid_section {
    .flex(row, center, center);
    .border; 

    &_child {
        .border;
        width: 45%;
        
        &_image {

        }

        &_title {
            font-size: 3.8rem;
        }

        &_p {

        }

        &_button {
            background: @primary-dark-blue-1;
            color: @cyan;
            cursor: pointer;
            border: none;
            border-bottom: 1px solid @cyan;
            font-size: 1.8rem;
            padding-top: 1rem;

        }
    }
}

.quotes {
    .flex(row, space-around, center);

    &_child {
        width: 15%;
        height: 300px;
        .border;
    }
}